%div#sidebar
  %div.box
    %h3 Recent posts
    %ul
      -Post.recent_entries.each do |entry|
        %li
          =link_to(entry.title, entry)
  %div.box
    %h3 About me
    %p 
      I'm Sid Shanker, software engineer at 
      =link_to "Gumroad.", "http://www.gumroad.com"
      I write about tech, startups, society, and other miscellaneous stuff.  Find
      me on <a href="http://www.twitter.com/spshanker">Twitter</a>, <a href="http://www.facebook.com/sshanker1">Facebook</a>, or <a href="http://www.github.com/sshanker220">Github</a>, and read my <a href="http://www.sidshanker.com/blog">blog</a>.  
