%div#sidebar
  %div.box
    %h3 Recent posts
    %ul
      -Post.recent_entries.each do |entry|
        %li
          =link_to(entry.title, entry)
  %div.box
    %h3 About me
    %p 
      I'm Sid Shanker, student at Columbia and soon to be software engineer at 
      =link_to "Gumroad.", "http://www.gumroad.com"
      I write about tech, startups, society, and other miscellaneous stuff.