%div#sidebar
  %div.box
    %h3 Recent posts
    %ul
      -Post.recent_entries.each do |entry|
        %li
          =link_to(entry.title, entry)
  %div.box
    %h3 About me
    %p 
      I'm Sid Shanker, software engineer at 
      =link_to "Gumroad.", "http://www.gumroad.com"
      I write about tech, startups, society, and other miscellaneous stuff.  Find
      me on 
      =link_to "Twitter", "http://www.twiter.com/spshanker"
      ,  
      =link_to "Facebook", "http://www.facebook.com/sshanker1"
      , or  
      =link_to "Github", "http://www.github.com/sshanker220"
      , and read my 
      =link_to "blog", "http://sidshanker.com/blog"
