// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS Styles for Layout
body{
    background: #fff;
    color: #234545;
    font-size: 15px;
    line-height: 23px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .4);
}

a { text-decoration: none; color: #000; }
a:hover { font-weight: bold; }

.hidden { display: none; }

#wrapper {
	margin: 20px auto;
	max-width: 910px;
}

header {
	margin: 20px auto;
	max-width: 960px;
  h1 {
  	padding-left: 244px;
  	color: #000 !important;	  font-size: 54px;
	  text-transform: uppercase;
	  letter-spacing: -4px;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  }
}
#links{
  list-style: none;
  margin: 20px 0 0 0px;
  li{
    display: inline;
    margin: 0 7px 0 0;
    a{
     font-size: 1.5em; 
    }
  }
}

.platform{
  margin: 0 0 0 0px;
}
#yield{
  clear: both;
  margin: 10px 0 0 0;
  #home{
    .intro-text{
      font-size: 1.3em;
      //letter-spacing: px;
    }
    .work{
      list-style: none;
      overflow: auto;
      clear: both;
      .piece{
        display: inline; 
        float: left;
        margin: 10px 20px 0 0px;
        height: 280 px;
        .indiv{
          img{
            border: solid 1px #aaa;
            border-radius: 3px;
            width: 240 px;  
          }
          .caption{
            width: 240px;
            h3{
              padding: 0 0 0 0;
              margin: 4px 0 0 0; 
            }
            p{
              padding: 0 0 0 0;
              margin: 0 0 0 0;
            } 
          }
        }
      }
    }
  }
}
