// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS Styles for Layout
body{
    background: #fffeee;

}

#wrap{
  overflow: auto;
  background: #fffeee;
  height: 100%;
  margin: 10px 0 0 0;
}

header.jumbotron{
  
  float: left;
  h1{
  font-size: 54px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 9px;
  a{
    color: #444;
   }
  }
}
#links{
  list-style: none;
  display: inline;
  margin: 20px 0 0 0px;
  li{
    display: inline;
    margin: 0 7px 0 0;
    a{
     font-size: 1.5em; 
    }
  }
}

.platform{
  margin: 0 0 0 0px;
}
#yield{
  clear: both;
  margin: 10px 0 0 0;
  #home{
    .intro-text{
      font-size: 1.3em;
      //letter-spacing: px;
    }
    .work{
      list-style: none;
      overflow: auto;
      clear: both;
      .piece{
        float: left;
        margin: 10px 5px 0 0px;
        .indiv{
          background: #ffffff;
          img{
            border: solid 1px #aaa;
            border-radius: 3px;
          }
        }
      }

    }
  }
}
