%html
  %head
    %title Sidharth Shanker
    =stylesheet_link_tag "application"
    =stylesheet_link_tag "bootstrap", "bootstrap-responsive"
    =javascript_include_tag "application"
    =csrf_meta_tags

  %body
    %div#wrap
      %div#wrapper
        %div#top_part
          %header{:class => "jumbotron subhead"}
            %h1= link_to("Sidharth Shanker", root_path)
          %ul#links
            %li 
              =link_to image_tag("facebook.png"), "http://www.facebook.com/sshanker1"
            %li
              =link_to image_tag("twitter.png"), "http://www.twitter.com/sshanker220"
            %li
              =link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/sidharth-shanker/36/40a/40"
            %li 
              =link_to image_tag("github.png"), "http://www.github.com/sshanker220"

        %div#yield
          =yield
